header 
{
    display: flex;
    justify-content: center;
    padding: 5%;
}

footer 
{
    display: flex;
    flex-direction: column;
    background-color: #353535;
    padding: 20px;
    padding-bottom: 40px;
	
}

footer img
{
    filter: invert(1);
    width: 100px;
    padding-bottom: 15px;


}

footer a 
{
    color: white;
    padding: 3px 0px;
    text-decoration: none;
}

footer i
{
width:15px;
padding-right:10px;
}

*
{
    font-family: 'Roboto',sans-serif;
}

h1
{
    font-family: 'Shrikhand',sans-serif;
    font-weight: 100;

}

h3
{
   font-weight: 100;
   font-size: initial;
   
}

h4
{

margin:0px 0px 5px 0px;
padding: 10px 10px 0px 10px;

}
header img
{


padding: 0px 30% 0px 20%;
}
header a
{
align-self: center;
color:black;
}


.CARTE
{
  background-color: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
  padding: 10px;
  overflow: overlay;


}

#TITRE 
{
  justify-content: space-between;
  flex-direction: row;
}

#TITRE a
{
  align-self: center;
  color:#959595; 
}

#COMMANDER {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.button
{
  border-radius: 30px;
  color:white;
   background: linear-gradient(174deg,#FF79DA,#9356DC); 
  padding: 13px 40px;
  border: none;
  box-shadow: 1px 6px 14px grey;
  width: fit-content;
  align-self: center;
}

section
{
  padding-bottom: 30px;
   background-color: #f6f6f6;
   display: flex;
    flex-direction: column;
}
}
.CONTAINER
{
    margin-bottom: 30px;
}
article
{
  background-color:white ;
  border-radius: 15px;
  margin-bottom:13px;
  overflow: hidden;

}

.infos {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 10px 10px;


}

.DETAILS  
{
  color: grey;
}

.PRIX
{
  font-weight: bold;
}

img
{
  width: 100%;
  object-fit: cover;

}

#BANDEROLE
{
  height: 13em;
}

::placeholder
{
color: black ;
text-align: center;

}
.saisie
{
  background-color: #eaeaea ;
  border:none;
      min-height: 50px;
    font-size: larger;

}

.FONCTIONNEMENT
{
  background-color: white;

}

  .index
{
  border-radius: 0px;

}

li
{
  background-color: #f6f6f6;
  margin-bottom: 25px;
  min-height: 75px;
  box-shadow: 1px 6px 14px grey;
  border-radius:15px;
    text-align: center;

}

.ETAPE {
    padding: 0px 24px;
}